<article class="panel" id="experiences-panel">

    {% include 'components/panels/panelDecoration.html.twig' %}
    {% include 'components/panels/panelTitle.html.twig' %}
    
    <div class="content">
        <div class="experiences-container">
            <div class="cards-gallery">
                {% for experience in experiences %}
                    <div class="card" data-descr="{{ experience.dateStart|date('d/m/Y') }} - {{ experience.dateEnd|date('d/m/Y') }}">
                        <div class="card-header">
                            <div class="card-title">{{ experience.company }}</div>
                            <div class="date">{{ experience.dateStart|date('d-M-Y') }} - {{ experience.dateEnd|date('d-M-Y') }}</div>
                            <div class="card-subtitle {{ experience.color }}-text">{{ experience.job }}</div>
                        </div>
                        <article class="card-body">
                            <p>
                                {{ experience.description|raw }}
                            </p>
                        </article>
                        <aside class="card-tags">
                            <ul class="tags">
                                {% for tag in experience.tags %}
                                    <li class="tag">
                                        <div class="hexagon">
                                            <i class="{{ tag.picture }}"></i>
                                            <div>{{ tag.name }}</div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </aside>
                        <div class="card-decorations">
                            <div class="topLeft-decoration">
                                {{ experience.logoCard|raw }}
                                <img class="logo" src="{{ experience.logo }}" alt="logo de {{ experience.company }}" >
                            </div>
                            <div class="bottomRight-decoration">
                                {{ experience.decorationCard|raw }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</article>