<article class="panel" id="realisations-panel">

    {% include 'components/panels/panelDecoration.html.twig' %}
    {% include 'components/panels/panelTitle.html.twig' %}
    
    <div class="content">
        <div class="realisations-list">
            {% for realisation in realisations.web %}
                <div class="realisation">
                    <div class="realisationShowcase">
                        <div class="macbook">
                            <div class="preview">
                                <iframe src="{{ realisation.preview }}" frameborder="0"></iframe>
                            </div>
                            <img src="images/realisations/responsiveShowcase/macbook.png">
                        </div>
                        <div class="iphone">
                            <div class="preview">
                                <iframe src="{{ realisation.preview }}" frameborder="0"></iframe>
                            </div>
                            <img src="images/realisations/responsiveShowcase/iphone.png">
                        </div>
                    </div>
                    <div class="realisationInfo">
                        <div class="realisationTitle">{{ realisation.title }}</div>
                        <div class="realisationDescription">{{ realisation.description|raw}}</div>
                        <div class="realisationPreview"><i class="material-icons">link</i><a target="_blank" href="{{ realisation.preview }}">Live Preview</a></div>
                        <div class="realisationGithub"><i class="devicon-github-plain colored"></i><a target="_blank" href="{{ realisation.github }}">Repository github</a></div>
                    </div>
                </div>  
                <div class="separator"></div>  
            {% endfor %}
        </div>
        <div class="contactMe">
            <div class="contactMe-decorationLeft"><i class="material-icons {{ panel.colorTheme.name }}-text-hover">person</i>{{ contactMe.decorationLeft|raw }}</div>
            <span class="contactMe-text">Contactez moi !</span>
        </div>
    </div>
</article>