<div class="row">

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Color</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for skill_group in skills_groups %}
            <tr data-toggle="collapse" data-target="#accordion" class="clickable">
                <td>{{ skill_group.id }}</td>
                <td>{{ skill_group.name }}</td>
                <td>{{ skill_group.color }}</td>
                <td>{{ skill_group.description }}</td>
            </tr>
            <tr>
                    <td colspan="4">
                        <div  id="accordion" class="collapse">
                            <span>Skills</span>
                            <table>
                                <thead>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>level</th>
                                    <th>picture</th>
                                    <th>displayed</th>
                                </thead>
                                <tbody>
                                    {% for skill in skill_group.skills %}
                                        <tr>
                                            <td>{{ skill.id }}</td>
                                            <td>{{ skill.name }}</td>
                                            <td>{{ skill.level }}</td>
                                            <td>{{ skill.picture }}</td>
                                            <td>{{ skill.displayed }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script src="{{ asset('build/vendor/jscolor-2.0.5/jscolor.js') }}"></script>