<div class="row">
    <!-- Nav tabs -->
    <ul class="nav flex-column nav-pills col-3" id="myTab" role="tablist">
        {% for skill_group in skills_groups %}
            <li class="nav-item">
                <a class="nav-link {% if currentSkillGroupId == skill_group.id %}active{% endif %}" id="group_{{ skill_group.id }}-tab" data-toggle="pill" href="#group_{{ skill_group.id }}" role="tab" aria-controls="group_{{ skill_group.id }}" aria-selected="{% if currentSkillGroupId == skill_group.id %}true {% else %}false{% endif %}">{{ skill_group.id }} - {{ skill_group.name }}</a>
            </li>
        {% endfor %}
    </ul>

    <!-- Tab panes -->
    <div class="tab-content col-9">
        {% for skill_group in skills_groups %}
            <div class="tab-pane {% if currentSkillGroupId == skill_group.id %}active{% endif %}" id="group_{{ skill_group.id }}" role="tabpanel" aria-labelledby="group_{{ skill_group.id }}-tab">
                <div class="row">
                    <div class="group col-1 col-sm-6">
                        <form class="group_data">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="skillsGroupsIdInput|{{ skill_group.id }}">ID - {{ skill_group.id }}</span>
                                    <span class="input-group-text" id="skillsGroupsNameInput{{ skill_group.id }}">Name</span>
                                </div>
                                <input type="text" class="form-control" aria-describedby="skillsGroupsNameInput{{ skill_group.id }}" placeholder="Enter the name of the Skill's Group" value="{{skill_group.name}}">
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="skillsGroupsColorInputInput{{ skill_group.id }}">Color</span>
                                </div>
                                <input class="form-control jscolor" aria-describedby="skillsGroupsColorInput{{ skill_group.id }}" value="{{skill_group.color}}">
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="skillsGroupsDescriptionInput{{ skill_group.id }}">Description</span>
                                </div>
                                <input type="text" class="form-control" aria-describedby="skillsGroupsDescriptionInput{{ skill_group.id }}" placeholder="Enter the description of the Skill's Group" value="{{skill_group.description}}">
                            </div>  
                        </form>
                        <div class="group_skills">
                            <p><b>Skills:</b></p>
                            <ul class="nav flex-column nav-pills col-3" id="myTab" role="tablist">
                                {% for skill in skill_group.skills %}
                                    <li class="nav-item">
                                        <a class="nav-link" id="skill_{{ skill.id }}-tab" data-toggle="pill" href="#skill_{{ skill.id }}" role="tab" aria-controls="skill_{{ skill.id }}" aria-selected="false">{{ skill.id }} - {{ skill.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="group_favoris">
                            <p><b>Favoris:</b></p>
                            <ul>
                                {% for favori in skill_group.favoris %}
                                    <li>{{ favori.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="skills col-1 col-sm-6">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            {% for skill in skill_group.skills %}
                                <div class="tab-pane" id="skill_{{ skill.id }}" role="tabpanel" aria-labelledby="skill_{{ skill.id }}-tab">
                                    <div class="skill_data row">
                                        <div class="col-6 col-sm-6">
                                            <p><b>Status:</b> {% if skill.displayed == 1 %}<span class="text-success">Displayed</span> {% else %} <span class="text-danger">Not Displayed</span>{% endif %}</p> 
                                            <p><b>Name:</b> {{skill.name}}</p>
                                            <p><b>Level:</b> {{skill.level}}></p>      
                                            <p><b>Picture:</b> {{skill.picture}}></p>
                                        </div>
                                        <div class="col-6 col-sm-6">
                                            <img src="{{skill.picture}}" alt="..." class="img-thumbnail">    
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script src="{{ asset('build/vendor/jscolor-2.0.5/jscolor.js') }}"></script>