{% extends 'base.html.twig' %}

{% block title %}Admin Panel: Skills{% endblock %}

{% block body %}
<h1>Admin Panel: <b>Skills</b></h1>
<table>
    <thead>
        <tr>Id</tr>
        <tr>Name</tr>
        <tr>Level</tr>
        <tr>Picture</tr>
    </thead>
    <tbody>
        {% for skill in skills %}
            <tr>
                <td>{{ skill.id }}</td>
                <td>{{ skill.name }}</td>
                <td>{{ skill.level }}</td>
                <td>{{ skill.picture }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit">Click me</button>
{{ form_end(form) }}
{% endblock %}