<section class="profile">
    <div class="profilePicture-container">
        <div class="profilePicture-circle">
            <img class="profilePicture" src="{{ profile.picture }}">
        </div>
        <img class="profilePicture-decoration" src="images/decorations/profilePicture/profilePicture-01.svg">
    </div>
    <div class="name"><i class="material-icons">person</i> {{ profile.firstname }} {{ profile.lastname }}</div>
    <div class="job font-mono"><i class="material-icons">work</i> {{ profile.title }}</div>
    <div class="disponibilites font-mono"><i class="material-icons">event</i> Disponible Pour Des Missions Freelance</div>
    <div class="tel"><i class="material-icons">phone</i> {{ profile.tel }}</div>
    <div class="mail"><i class="material-icons">email</i> {{ profile.email }}</div>
    <div class="separator"></div>
    {{contactLock.left|raw}}
</section>
<section class="contact">
    {{contactLock.right|raw}}
    <div class="social-icons">
        <a href="{{ profile.linkedin }}" target="_blank" class="social-icon" id="linkedin"><img alt="logo de linkedin" src="/images/social_network/linkedin.png"></a>
        <a href="{{ profile.github }}" target="_blank" class="social-icon" id="git-hub"><img alt="logo de git-hub" src="/images/social_network/github.png"></a>
        <a href="{{ profile.freelanceWebsite }}" target="_blank" class="social-icon" id="malt"><img alt="logo de hopwork" src="/images/social_network/malt.png"></a>
    </div>
</section>
<div class="copyright">CV {{ profile.title }} © 2019<br>{{ profile.firstname }} {{ profile.lastname }} -
    <a href="../public/index.php?p=legales">mentions légales</a>
</div>
<div class="exitBtn"><i class="material-icons">close</i></div>